<form action="<%= cats_url %>" method = "POST">
  <label for="name">Cat Name</label>
  <input id="name" type="text" name="cat[name]">
  <br>   
  <label for="color">Color</label>
  <select name="cat[color]" id="color">
    <option disabled selected>--Please Select--</option>
    <option value="black">black</option>
    <option value="orange">orange</option>
    <option value="grey">grey</option>
    <option value="brown">brown</option>
  </select>
  <br>
  <label for="birthday">Birthday</label>
  <input id="birthday" type="date" name="cat[birth_date]">
  <br>
  <label for="sex">Sex</label>
  <input id="sex" type="text" name="cat[sex]">
  <br>
  <label for="description">Description</label>
  <br>
  <textarea id="description" name="cat[description]" rows = "8" cols = "40"></textarea>
  <br>
  <input type="submit" value="Add Cat">

</form>